language: php

php:
  - 5.4

sudo: false

before_install:
  - printf "\n" |pecl install imagick
  - phpenv config-add .travis.php.ini
  - composer self-update

install:
  - composer install --no-progress --prefer-dist

script: ./bin/phpunit

after_script:
  - ./bin/ocular code-coverage:upload --access-token="0ab85d09ea536dc6a7f03316b495cc078d8bee02c7c74974bbfd1fe280425a16" --format=php-clover build/logs/clover.xml
