
<div
    {% if id %}
        id="{{ id }}"
    {% endif %}
    {% if class %}
        class="{{ class }}"
    {% endif %}>
    <img src="{{ get_media_format_url(picture, imageFormat) }}" alt="{{ get_media_alt(picture) }}"/>
</div>
