<div style="{{ style }}">
    <video width="320" height="240" controls>
        <source src="{{ media_url }}" type="{{ media_type }}">
        {{ 'open_orchestra_media.strategy.video.tag_not_supported'|trans }}
    </video>
</div>